<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students | Registration</title>
</head>
<body>
<header>
    <nav>
        <a th:replace="/students/list::navHomePage"></a>
    </nav>
</header>
<main>
<!--si id existant -> url update, sinon -> url save -->
    <form th:action="${student.getId()} == null ? @{/students/save} : @{/students/update/{id}(id=${student.getId()})}" method="post" th:object="${student}">
        <input th:field="*{id}" hidden>
        <div>
            <label for="firstName">Student first name</label>
            <input type="text" id="firstName" th:field="*{firstName}">
        </div>
        <div>
            <label for="lastName">Student last name</label>
            <input type="text" id="lastName" th:field="*{lastName}">
        </div>
        <div>
            <label for="email">Student email</label>
            <input type="email" id="email" th:field="*{email}">
        </div>
        <div>
            <label for="dateOfBirth">Student date of birth</label>
            <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}">
        </div>
        <button>Register</button>
    </form>
</main>
</body>
</html>